<!DOCTYPE html>
<html>
<body>
<button onclick="window.location.href='/admin/addemployee'"> Add Employee</button>	
<button onclick="window.location.href='/admin/allemplist'"> All Employee List</button>	
</body>
</html>